[submodule "dependencies/lua"]
	path = dependencies/lua
	url = https://github.com/lua/lua.git
[submodule "dependencies/perilune"]
	path = dependencies/perilune
	url = https://github.com/ousttrue/perilune.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/im3d"]
	path = dependencies/im3d
	url = https://github.com/john-chapman/im3d.git
